@import "tailwindcss";

/* App.css hoặc index.css */
.toggle-checkbox {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #555;
  border-radius: 9999px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-checkbox:checked {
  background-color: #4ade80; /* xanh lá */
}

.toggle-checkbox::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 16px;
  width: 16px;
  background-color: white;
  border-radius: 9999px;
  transition: transform 0.3s ease;
}

.toggle-checkbox:checked::before {
  transform: translateX(20px);
}
